/*
  Icon Font: twe-global-glyphs
*/

@font-face {
  font-family: "twe-global-glyphs";
  src: url("./twe-global-glyphs.eot");
  src: url("./twe-global-glyphs.eot?#iefix") format("embedded-opentype"),
       url("./twe-global-glyphs.woff") format("woff"),
       url("./twe-global-glyphs.ttf") format("truetype"),
       url("./twe-global-glyphs.svg#twe-global-glyphs") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "twe-global-glyphs";
    src: url("./twe-global-glyphs.svg#twe-global-glyphs") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-accordianplus:before,
.icon-accordianplus_x:before,
.icon-awards_medal:before,
.icon-awards_trophy:before,
.icon-back_arrow:before,
.icon-back_to_top:before,
.icon-chevron:before,
.icon-hamburger:before,
.icon-location:before,
.icon-pdf:before,
.icon-search_icon:before,
.icon-share_price:before,
.icon-social-google-plus:before,
.icon-social-linkedin:before,
.icon-social_facebook:before,
.icon-social_instagram:before,
.icon-social_twitter:before,
.icon-social_youtube:before {
  display: inline-block;
  font-family: "twe-global-glyphs";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-accordianplus:before { content: "\f132"; }
.icon-accordianplus_x:before { content: "\f133"; }
.icon-awards_medal:before { content: "\f134"; }
.icon-awards_trophy:before { content: "\f135"; }
.icon-back_arrow:before { content: "\f136"; }
.icon-back_to_top:before { content: "\f137"; }
.icon-chevron:before { content: "\f143"; }
.icon-hamburger:before { content: "\f138"; }
.icon-location:before { content: "\f139"; }
.icon-pdf:before { content: "\f13a"; }
.icon-search_icon:before { content: "\f13b"; }
.icon-share_price:before { content: "\f13c"; }
.icon-social-google-plus:before { content: "\f141"; }
.icon-social-linkedin:before { content: "\f142"; }
.icon-social_facebook:before { content: "\f13d"; }
.icon-social_instagram:before { content: "\f13e"; }
.icon-social_twitter:before { content: "\f13f"; }
.icon-social_youtube:before { content: "\f140"; }
